n8n-workflows/project-image-generator.json
{
  "name": "Project Image Generator - MeshIt (Gemini)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - New Project",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "meshit-project-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Image generation started\", \"project_id\": $json.record.id } }}"
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-8b:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_API_KEY }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({\n  contents: [{\n    parts: [{\n      text: `You are an expert at creating image generation prompts. Based on the following project details, create a detailed, specific prompt for generating a professional project thumbnail image.\n\nProject Title: ${$json.record.title}\nDescription: ${$json.record.description}\nRequired Skills: ${$json.record.required_skills ? $json.record.required_skills.join(', ') : 'general tech'}\nTeam Size: ${$json.record.team_size || 3} people\nTimeline: ${$json.record.timeline ? $json.record.timeline.replace('_', ' ') : 'flexible'}\n\nCreate a single-paragraph image generation prompt that captures the essence of this project. The image should be:\n- Professional and modern\n- Tech-focused with relevant abstract elements (code, networks, geometric shapes)\n- Clean and minimalist design\n- Suitable as a project thumbnail\n- NO text or words in the image\n\nReturn ONLY the image prompt, nothing else.`\n    }]\n  }]\n}) }}",
        "options": {}
      },
      "id": "generate-prompt-gemini",
      "name": "Generate Prompt with Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "notes": "Uses Gemini 2.0 Flash to create optimized image generation prompt"
    },
    {
      "parameters": {
        "jsCode": "// Extract the generated prompt from Gemini response\nconst geminiResponse = $input.item.json;\nconst generatedPrompt = geminiResponse.candidates?.[0]?.content?.parts?.[0]?.text;\n\nif (!generatedPrompt) {\n  throw new Error('No prompt generated by Gemini');\n}\n\n// Get project data from webhook\nconst webhookData = $('Webhook - New Project').item.json.record;\n\nreturn {\n  project_id: webhookData.id,\n  creator_id: webhookData.creator_id,\n  title: webhookData.title,\n  prompt: generatedPrompt.trim()\n};"
      },
      "id": "extract-prompt",
      "name": "Extract Generated Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/imagen-3.0-generate-001:predict",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_API_KEY }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({\n  instances: [{\n    prompt: $json.prompt\n  }],\n  parameters: {\n    sampleCount: 1,\n    aspectRatio: '1:1',\n    negativePrompt: 'text, words, letters, watermark, blurry, low quality',\n    personGeneration: 'allow_adult'\n  }\n}) }}",
        "options": {}
      },
      "id": "generate-image-gemini",
      "name": "Generate Image with Gemini Imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "notes": "Uses Google Imagen 3.0 for image generation - Free tier available"
    },
    {
      "parameters": {
        "jsCode": "// Extract base64 image from Gemini Imagen response\nconst imagenResponse = $input.item.json;\nconst base64Image = imagenResponse.predictions?.[0]?.bytesBase64Encoded;\n\nif (!base64Image) {\n  throw new Error('No image returned from Gemini Imagen');\n}\n\n// Get project data from previous node\nconst promptData = $('Extract Generated Prompt').item.json;\n\nreturn {\n  project_id: promptData.project_id,\n  creator_id: promptData.creator_id,\n  title: promptData.title,\n  image_data: base64Image,\n  mime_type: 'image/png'\n};"
      },
      "id": "process-image",
      "name": "Process Image Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/storage/v1/object/project-images/{{ $json.project_id }}.png",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "image/png",
        "body": "={{ Buffer.from($json.image_data, 'base64') }}",
        "options": {}
      },
      "id": "upload-to-supabase",
      "name": "Upload to Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/projects?id=eq.{{ $json.project_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $env.SUPABASE_URL }}/storage/v1/object/public/project-images/{{ $json.project_id }}.png"
            }
          ]
        },
        "options": {}
      },
      "id": "update-project",
      "name": "Update Project with Image URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "jsCode": "console.log('✅ Project image generated successfully!');\nconsole.log('Project ID:', $json.project_id);\nconsole.log('Image URL:', $json.image_url);\n\nreturn {\n  success: true,\n  project_id: $json.project_id,\n  message: 'Project thumbnail generated and uploaded successfully'\n};"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    }
  ],
  "connections": {
    "Webhook - New Project": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Prompt with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompt with Gemini": {
      "main": [
        [
          {
            "node": "Extract Generated Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Generated Prompt": {
      "main": [
        [
          {
            "node": "Generate Image with Gemini Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image with Gemini Imagen": {
      "main": [
        [
          {
            "node": "Process Image Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Image Data": {
      "main": [
        [
          {
            "node": "Upload to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Supabase Storage": {
      "main": [
        [
          {
            "node": "Update Project with Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Project with Image URL": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-01T00:00:00.000Z",
  "versionId": "2"
}
