n8n-workflows/project-image-generator-sdk.json
{
  "name": "Project Image Generator - MeshIt (SDK)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - New Project",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "meshit-project-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Image generation started\", \"project_id\": $json.record.id } }}"
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL }}/api/projects/generate-image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({\n  project_id: $json.record.id,\n  title: $json.record.title,\n  description: $json.record.description,\n  required_skills: $json.record.required_skills,\n  team_size: $json.record.team_size,\n  timeline: $json.record.timeline\n}) }}",
        "options": {}
      },
      "id": "call-api",
      "name": "Call Image Generation API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "notes": "Calls your Next.js API that uses Gemini SDK"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\n\nconsole.log('✅ Image generation complete!');\nconsole.log('Project ID:', response.project_id);\nconsole.log('Image URL:', response.image_url);\n\nreturn {\n  success: response.success,\n  project_id: response.project_id,\n  image_url: response.image_url,\n  message: response.message\n};"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook - New Project": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Image Generation API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Image Generation API": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-01T00:00:00.000Z",
  "versionId": "3"
}
